@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.task {
  position: relative;
  background-color: rgba($color-secondary-dark, 0.3);
  padding: 2rem 2rem;
  border-radius: 1rem;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .task-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 13rem;
    //on mobile viewport
    //justify-content: center;

    background-color: rgba($color-secondary-light, 0.35);
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 10rem;

    backface-visibility: hidden;

    @include respond(phone) {
      display: flex;
      flex-direction: column-reverse;
      width: 5rem;
    }

    &__btn {
      cursor: pointer;
      position: relative;
      display: inline-block;
      text-decoration: none;

      width: 3rem;
      height: 3rem;

      padding: 1rem;

      background-color: rgba($color-white, 0.5);
      border: none;
      border-radius: 100%;
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.4);

      // &:not(:last-child) {
      //   // margin-right: 0.5rem;
      //   //margin-bottom: 0.5rem;
      // }
      backface-visibility: hidden;
      transition: all 0.3s;

      @include respond(phone) {
        &:not(:first-child) {
          margin-bottom: 1rem;
        }
      }

      &:hover {
        background-color: rgba($color-white, 0.8);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
      }

      &--completed {
        background-color: rgba(yellowgreen, 1);

        &:hover {
          background-color: rgba(yellowgreen, 0.8);
          box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
        }
      }

      .icon {
        // backface-visibility: hidden;
        display: block;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  &__sub {
    background-color: rgba($color-secondary-light, 0.35);
    padding: 2rem;
    border-radius: 1rem;
  }

  &__body {
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }

  &__info {
    color: rgba(202, 199, 207, 0.586);
  }
}
