@import '../../scss/abstracts/variables';
.task-excerpt {
  background-color: rgba($color-secondary-dark, 0.3);
  padding: 2rem 2rem 0 2rem;

  border-radius: 1rem;

  &:not(&:last-child) {
    margin-bottom: 2rem;
  }

  &:first-child {
    margin-top: 1rem;
  }

  &__title {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  &__sub {
    background-color: rgba($color-secondary-light, 0.35);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1rem 1rem 0 0;

    cursor: pointer;

    transition: 0.3s;

    &:hover {
      background-color: rgba($color-secondary-light, 0.5);
    }
  }
}

.task-actions {
}
