// Colors
$color-main: #04003c;

//Task-Colors
$color-secondary-dark: rgb(51, 63, 134);
$color-secondary-light: rgb(82, 91, 163);

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//button-colors
$color-action: rgb(122, 217, 255);
$color-danger: rgb(255, 144, 161);
$color-primary: rgb(202, 255, 123);

//Font sizes
$font-size-default: 1.6rem;
$font-size-small: 1.3rem;
